<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg text-dark bg-light">
        <div class="container-fluid text-dark ms-5">
            <a class="navbar-brand text-dark" href="#">
                <h2>SPRK BOOKS</h2>
            </a>
        </div>
        <a th:href="@{/book/show-form}" class="btn text-dark">Add</a>
        <a th:href="@{/book/show-dashboard}" class="btn text-dark me-5">Dashboard</a>



    </nav>
</body>

</html>